<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <activity
      android:name=".InstallationResultActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:noHistory="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
      android:name=".UpdateConfirmationActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:noHistory="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <receiver
      android:name=".InstallationResultReceiver"
      android:exported="false" />
    <receiver
      android:name=".PackageReplacementReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
